html {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

:root {
  --wht: #f8f8f8;
  --blk: #28282b;
  --red: #af1e1e;
  --org: #cc6a29;
  --yel: #db9531;
  --prpl: #640d39;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  color: var(--blk);
  background-color: var(—wht);
}

/*************
General Elements
**************/

/*************
Images
**************/

img {
  width: 100%;
  display: block;
}

/*************
Buttons / Links
**************/

/*************
Typography
**************/

/*************
Layout
**************/

/*************
Media Queries
**************/
