/*************
General Elements
**************/

/*************
Images
**************/

/*************
Buttons / Links
**************/

/*************
Typography
**************/

.hero-heading {
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--wht);
}

.hero-text {
  color: var(--wht);
  max-width: 32ch;
}

/*************
Layout
**************/

.main {
  width: 100%;
  background-color: var(--yel);
  background-image: url(../../images/AND-homepage-hero-2.jpg);
  background-size: cover;
  background-position: center;
}

.main-container {
  width: 90%;
  max-width: 1024px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

/*************
Media Queries
**************/
