/*************
General Elements
**************/

/*************
Images
**************/

/*************
Buttons / Links
**************/

/*************
Typography
**************/

.footer-section-heading {
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--wht);
}

.footer-link {
  display: inline-block;
  font-weight: 300;
  color: var(--wht);
  margin-bottom: 1rem;
  margin-bottom: 0.5rem;
}

.footer-link:hover,
.footer-link:active {
  color: var(--prpl);
}

.made-content {
  font-weight: 700;
  color: var(--wht);
}

.heart {
  color: var(--red);
}

/*************
Layout
**************/

.footer {
  width: 100%;
  /* background: rgb(32, 32, 32);
  background: linear-gradient(195deg, rgba(32, 32, 32, 1) 0%, rgba(58, 89, 66, 1) 100%); */
  background-color: var(--org);
}

.footer-container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 3rem 0;
}

.footer-section {
  margin-bottom: 1rem;
}

.footer-made-container {
  position: absolute;
  bottom: 20px;
  right: 26px;
}

/*************
Media Queries
**************/

@media (min-width: 500px) {
  /*************
General Elements @500px
**************/

  /*************
Images @500px
**************/

  /*************
Buttons / Links / inputs @500px
**************/

  /*************
Typography @500px
**************/

  /*************
Layout @500px
**************/

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-section {
    width: 48%;
  }
}

/*************
Media Queries @800px
**************/

@media (min-width: 800px) {
  /*************
General Elements
**************/

  /*************
Images
**************/

  /*************
Buttons / Links
**************/

  /*************
Typography
**************/

  /*************
Layout
**************/

  .footer {
    margin-top: 2rem;
  }

  .footer-section {
    width: 22%;
    justify-content: space-between;
  }
}
/*************
Media Queries
**************/
